header {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.book {
  margin-right: 400px;
  display: flex;
  border: solid black 1px;
  height: 120px;
  width: 700px;
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: 1px;
}

.filter {
  border-right: 1px solid black;
  padding-right: 200px;
  height: 100vh;
  margin-left: 60px;
}

.book-image {
  width: 75px;
  height: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

.book-info {
  height: 150px;
  width: 300px;
  margin-right: 200px;
  margin-top: 15px;
}

.book-availability {
  color: green;
  margin-right: 20px;
  margin-top: 50px;
}

.container {
  cursor: pointer;
  white-space: nowrap;
}

.genre-container {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* AddBook text boxes */

#title-text-box {
  margin-left: 5px;
}

#title-label {
  margin-left: 67px;
}

#author-text-box {
  margin-left: 5px;
}

#author-label {
  margin-left: 52px;
}

#genre-text-box {
  margin-left: 5px;
}

#genre-label {
  margin-left: 58px;
}

#isbn-text-box {
  margin-left: 5px;
}

#isbn-label {
  margin-left: 61px;
}

#format-text-box {
  margin-left: 5px;
}

#format-label {
  margin-left: 51px;
}

#available-text-box {
  margin-left: 5px;
}

#available-label {
  margin-left: 36px;
}

#description-text-box {
  margin-left: 5px;
}

#description-label {
  margin-left: 22px;
}

#published-text-box {
  margin-left: 5px;
}

#location-text-box {
  margin-left: 5px;
}

#location-label {
  margin-left: 40px;
}

#image-text-box {
  margin-left: 5px;
}

#image-label {
  margin-left: 21px;
}

/* Edit Info Text Boxes */

#edit-title-label {
  margin-left: 67px;
}

#edit-title-input {
  margin-left: 5px;
}

#edit-author-label {
  margin-left: 51px;
}

#edit-author-input {
  margin-left: 5px;
}

#edit-genre-label {
  margin-left: 57px;
}

#edit-genre-input {
  margin-left: 5px;
}

#edit-published-input {
  margin-left: 5px;
}

#edit-isbn-label {
  margin-left: 59px;
}

#edit-isbn-input {
  margin-left: 5px;
}

#edit-format-label {
  margin-left: 50px;
}

#edit-format-input {
  margin-left: 5px;
}

#edit-description-label {
  margin-left: 21px;
}

#edit-description-input {
  margin-left: 5px;
}

#edit-location-label {
  margin-left: 39px;
}

#edit-location-input {
  margin-left: 5px;
}

#edit-image-label {
  margin-left: 21px;
}

#edit-image-input {
  margin-left: 5px;
}