header {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.book {
  margin-right: 400px;
}

.filter {
  border-right: 1px solid black;
  padding-right: 200px;
  height: 100vh;
}
